fastapi==0.115.0
uvicorn==0.31.1
openai>=1.12.0
llama-index>=0.11.1
pypdf>=4.2.0
tiktoken>=0.7.0
anthropic==0.69.0
matplotlib==3.8.0
# pandas==2.1.1
# numpy==1.27.0
seaborn==0.13.2
python-multipart==0.0.20
PyPDF2==3.0.1
playwright==1.44.0
sqlalchemy>=2.0
greenlet==0.0.0
# beautifulsoup4
# lxml